<%- include("partials/header") %>

<title>Home » <%= bot.user.username %> Dashboard</title>

<div class="container text-center text-light" style="padding-top: 110px; padding-bottom: 20px;">
    <% if (user) { %>
        <img class="img-fluid rounded" src="https://cdn.discordapp.com/avatars/<%= user.id %>/<%= user.avatar %>" width="128px" height="auto">
        <br>
        <br>
        <h1>Bonjour, <%= user.username %> !</h1>
        <p>Bienvenue sur ton espace personnel.</p>   
        <div class="btn-group btn-group-lg" role="group" aria-label="Basic example">
            <a href="/dashboard/servers" type="button" class="btn btn-primary"><i class="fas fa-server"></i> Tes Serveurs</a>
            <a href="/dashboard/profile" type="button" class="btn btn-success"><i class="fas fa-id-card"></i> Mon Profile</a>
            <a href="/logout" type="button" class="btn btn-danger"><i class="fas fa-sign-out-alt"></i> Déconnecter</a>
        </div>
    <% } else { %>
        <img class="img-fluid rounded" src="<%= bot.user.displayAvatarURL({dynamic: true, size: 128}) %>" width="128px" height="auto">
        <br>
        <br>
        <h1>Dashboard: <%= bot.user.username %></h1>
        <p>Pour configurer le bot, connecter vous.</p>   
        <a href="/login" type="button" class="btn btn-light"><i class="fab fa-discord"></i> Se connecter.</a>
    <% } %>
</div>


